body {
    background: rgb(15, 15, 15);
    color: rgb(250, 250, 250);
    font-family: Helvetica, "HelveticaNeue-Light", "Helvetica Neue Light", Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

/* GENERAL STYLE */

html {
    scroll-behavior: smooth;
}

a, a:visited {
    color: rgb(250, 250, 250);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button:hover {
    cursor: pointer;
}

.mobile-only { display: none }
@media (max-width: 600px) { 
    /* .mobile-only { display: block }  */
}

.desktop-only { display: none }
@media (min-width: 601px) { 
    /* .desktop-only { display: flex }  */
}

/* HEADER */

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 8px 0 8px 0;
}

#header-name {
    font-size: 15px;
    margin-left: 25px;
}

nav ul li {
    display: inline-block;
    font-size: 14px;
    padding-right: 45px;
}

nav ul li:last-child {
    padding-right: 30px;
}

.title {
    margin: 80px 0 40px 25px;
    font-size: 55px;
}

/* RESPONSIVE HEADER */
@media (max-width: 600px) {
    .mobile-menu {
        margin-right: 5vw;
    }

    .mobile-dropdown-content {
        display: none;
    }

    .mobile-menu button:hover .mobile-dropdown-content {
        display: block;
    }

    .title {
        font-size: 10vw;
    }
}

/* FOOTER */

footer {
    bottom: 0;
    position: fixed;
}

footer ul {
    padding: 0;
    text-align: left;
}

footer ul li {
    display: inline;
    font-size: 14px;
    padding: 0 6.5vw 0 2vw;
}

@media (max-width: 600px) {
    footer ul li {
        padding: 0 6vw 0 25px;
    }
}

/* PROJECTS */

.project-summary-container {
    display: flex;
    gap: 25px;
    margin: 30px 40px 0 40px;
}

#project-summary-description {
    box-sizing: border-box;
    border: 4px solid rgb(204,208,207);
    border-radius: 10px;
    display: block;
    height: 450px;
    padding-bottom: 15px;
    width: 725px;
}

#project-tag {
    color: rgb(155,168,171);
    font-size: smaller;
    margin: 25px 25px 25px 25px;
    opacity: 0.75;
}

#project-name {
    font-size: 35px;
    margin: 25px 25px 70px 25px;
    max-width: 75%;
}

#project-image-container {
    align-items: center;
    background-color: rgb(209,207,201);
    border-radius: 10px;
    display: flex;
    height: 450px;
    justify-content: center;
    width: 100%;
}

#project-image-container video, 
#project-image-container img {
    border-radius: 10px;
    max-width: 95%;
    max-height: 90%;
    object-fit: contain;
}

#outcomes-container {
    margin: 0 25px 0 25px;
}

#outcomes-header {
    font-size: 20px;
}

#outcomes-container ul {
    list-style-type: none;
    padding: 0;
}

#outcomes-container ul li {
    color: rgb(155,168,171);
    margin-bottom: 20px;
    opacity: 0.75;
    font-size: 2.2vh;
    line-height: 1.4;
}

#outcomes-container ul li:last-child {
    margin-bottom: 0; 
}

#project-overview-container {
    background-color: rgb(28,46,74);
    display: flex;
    gap: 250px;
    height: auto;
    margin-top: 80px;
    padding: 65px;
}

#project-overview-header {
    margin-bottom: 30px;
    opacity: 0.75;
    font-size: smaller;
}

#project-overview-title {
    font-size: 35px;
    width: 375px;
}

#project-overview-content-container {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

#project-overview-content-container div {
    font-size: 2.2vh;
    line-height: 1.5;
    opacity: 0.75;
}

/* RESPONSIVE DESIGN */
@media (max-width: 600px) {
    .project-summary-container {
        flex-direction: column-reverse;
        margin: 8vh 5vw 0 5vw;
    }

    #project-summary-description {
        height: auto;
        width: 100%;
    }

    #project-tag {
        margin-bottom: 2vh;
    }

    #project-name {
        margin: 2vh 25px 5vh 25px;
    }

    #outcomes-container ul li {
        font-size: 3.4vw;
    }

    #project-image-container {
        height: auto;
        padding: 10px 0 10px 0;
    }

    #project-overview-container {
        flex-direction: column;
        padding: 12vw;
        gap: 5vh;
    }

    #project-overview-header {
        margin-bottom: 2vh;
    }

    #project-overview-title {
        font-size: 6vw;
        width: 95%;
    }

    #project-overview-content-container {
        gap: 4.5vw;
    }

    #project-overview-content-container div {
        font-size: 3.4vw;
    }
}